# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
.next/
out/
.turbo/
*.tsbuildinfo
coverage/

# Environment
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Prisma
packages/database/prisma/*.db

# Misc
*.pem
.cache/
